@import url(style.css);

@media screen and (max-width:480px) {

    /*  Header  */
    .nav-header {
        background-color: #FFF;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        padding-top: 25px;
        padding: 15px;
        position: fixed;
        top: 0;
        z-index: 10;
    }

    .fa-bars:before {
        font-size: 2em;
    }

    .ul-header,
    .nav-header>button {
        display: none;
    }

    .burger {
        display: flex;
    }

    /*  Main    */
    .intro-hero {
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }

    .container-img {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .container-img>img {
        margin-top: 25%;
        width: 100%;
    }

    .container-text {
        justify-content: flex-end;
        padding: 5px;
        width: 95%;
    }

    .container-text>h1 {
        color: var(--dark-blue);
        font-size: 33px;
        justify-content: flex-end;
        margin: 20px;
    }

    .lightblue-bar {
        background-color: var(--primary-lightblue);
        flex-direction: column;
        padding: 60px;
        text-align: center;
    }

    .lightblue-bar>h2,
    .lightblue-bar>p {
        padding: 20px;
        width: 100%;
    }

    .number-paragraph {
        flex-direction: column;
        padding: 60px 0 60px 80px;
    }

    .main-list {
        width: 93%;
    }

    .numb {
        height: 42px;
        padding: 10px;
        right: 35px;
        top: 41px;
        width: 60px;
    }

    .main-list>span {
        background-color: #dcc8ed;
        padding-left: 10%;
        padding: 2.7%;
    }

    .main-list>p {
        margin-left: 0;
        margin-top: 10px;
        padding: 13px;
    }

    .main-list>p:last-child {
        width: 97%;
    }

    .card {
        width: 100%;
    }

    .navarro,
    .sanyo {
        display: none;
    }

    .btn-2 {
        background-color: var(--dark-blue);
        color: #FFF;
    }

    .btn-2:hover {
        background-color: var(--gray-blue);
    }


    /*  Footer  */
    footer {
        align-items: center;
        flex-direction: column-reverse;
    }

    .nav-footer {
        align-items: flex-start;
        width: 100%;
    }

    .left-block {
        flex-direction: column-reverse;
        padding: 6%;
        width: 100%;
    }

    .left-block>img {
        margin-top: 30px;
        margin: auto;
        width: 30%;
    }

    .icons {
        margin: 10px;
        padding: 10px;
    }

    .icons>i::before {
        font-size: 1.5em;
    }

    .input-container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .input {
        width: 100%;
    }

    .base {
        height: 20%;
        justify-content: center;
    }

    .base>p {
        font-size: 1em;
    }
}