@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

:root {
  --dark-blue: #232851;
  --gray-blue: #1e1e26;
  --gray-secondary: rgb(185, 185, 185);
  --light-gray: rgb(249, 249, 249);
  --primary-lightblue: #3cddf3;
  --primary-violet: #8b48bf;
}

* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

html {
  background-color: #FFF;
  height: auto;
  scroll-behavior: smooth;
  scrollbar-color: var(--primary-violet) var(--gray-blue);
  scrollbar-width: thin;
  width: 100%;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, var(--gray-blue) 60%, var(--primary-lightblue), var(--gray-blue));
}


html::-webkit-scrollbar-thumb {
  background-color: var(--primary-violet);
}

::selection {
  background-color: var(--primary-violet);
  color: #FFF;
}

/*   Header   */

.nav-header {
  align-items: center;
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  padding: 50px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.burger {
  display: none;
}

.ul-header {
  display: flex;
  font-size: 14px;
  justify-content: space-around;
  list-style-type: none;
}

.nav-header>ul>li {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-header>ul>li:hover {
  color: var(--gray-secondary);
}

.btn {
  background-color: var(--primary-violet);
  border-radius: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 45px;
  width: 110px;
}

.btn:hover {
  background-color: #bb63ff;
  transition: 0.5s;
  transform: scale(1.1)
}

/*   Main Sections   */

.intro-hero {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.container-img {
  margin: 10px;
  padding: 30px;
  width: 50%;
}

.container-text {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 60px;
  text-align: right;
  width: 50%;
}

.container-text>h1 {
  font-size: 50px;
  font-weight: 700;
  justify-content: flex-end;
  margin-right: 0;
  margin: 20px;
}

.container-text>p {
  margin: 15px 0 25px 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.lightblue-bar {
  align-items: center;
  background-color: var(--primary-violet);
  color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  padding: 2% 10%;
}

.lightblue-bar>h2 {
  font-size: 2em;
  font-weight: 500;
  width: 30%;
}

.lightblue-bar>p {
  width: 40%;
}

.number-paragraph {
  align-content: center;
  align-items: center;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content:center;
  margin: auto;
  padding: 10px 20px 10px 20rem;
  width: 100%;
}

.main-list {
  color: var(--gray-secondary);
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 40%;
}

.main-list>span {
  color: var(--gray-blue);
  font-weight: 500;
}

.main-list>p:last-child {
  padding: 20px;
  width: 65%;
}

.numb {
  background-color: var(--primary-violet);
  border-radius: 50px;
  color: #FFF;
  height: 30px;
  padding: 5px;
  position: relative;
  right: 70px;
  text-align: center;
  top: 25px;
  width: 60px;
}

/*  Cards testimonios */

.testimony {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

.testimony>h2 {
  font-size: 2em;
  font-weight: 700;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5%;
  width: 100%;
}

.card {
  align-items: center;
  color: var(--gray-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
}

.card:hover{
  background-color: var(--primary-violet);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

.card img {
  height: 55px;
  position: relative;
  top: 8%;
  width: 55px;

}

.card>h3 {
  background-color: var(--light-gray);
  color: var(--gray-blue);
  font-weight: 700;
  padding: 30px 0 30px 0px;
  width: 100%;
}

.card>p {
  background-color: var(--light-gray);
  padding: 0 38px 38px;
}

.btn-2 {
  background-color: #FFF;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  color: var(--primary-violet);
  cursor: pointer;
  font-size: 12px;
  height: 35px;
  width: 100px;
}

.btn-2:hover {
  background-color: #bb63ff;
  color: #FFF;
  transition: 0.5s;
  transform: scale(1.1)
}

/*  Footer  */

footer {
  align-items: baseline;
  background-color: var(--gray-blue);
  bottom: 0;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5%;
  width: 100%;
}

.left-block {
  align-items: space-evenly;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  padding: 20px;
  width: 10%;
  margin: 10px;
}

.left-block>img {
  width: 9rem;
  margin: 2rem;
}

.icons {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: space-between;
  /* margin: 10%; */
  padding: 10%;
  width: 100%;
  margin: 10% auto;
}

.icons>i::before {
  cursor: pointer;
  margin: 5px;
  transition: all .5s ease-in-out;
  font-size: 1.5em;
  padding-right: 10px;
}

.icons>i:hover {
  transform: scale(1.4);
  transition: 0.5s;
}

.nav-footer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin: 20px;
  padding: 20px;
  width: 50%;
}

.nav-footer>ul>li {
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  list-style-type: none;
  margin: 15px 0 15px 0;
  transition: all .2s ease-in-out;
}

.nav-footer>ul>li:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.btn-footer {
  width: 20%;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

input {
  border-radius: 50px;
  border: none;
  height: 50px;
  margin: 10px;
  padding: 15px;
  width: 70%;
}

.base {
  align-items: center;
  background-color: var(--gray-blue);
  color: #FFF;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  margin: 0;
  padding: 3%;
  width: 100%;
}

.base>p {
  color: var(--gray-secondary);
}