@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

:root {
  --primary-violet: #8b48bf;
  --primary-lightblue: #3cddf3;
  --gray-blue: #1e1e26;
  --dark-blue: #232851;
  --light-gray: rgb(249, 249, 249);
  --gray-secondary: rgb(185, 185, 185);
}

* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: auto;
}

/*   Header   */

.nav-header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin: 20px;
  padding: 20px;
  width: 100%;
}

.burger {
  display: none;
}

.ul-header {
  display: flex;
  font-size: 14px;
  justify-content: space-around;
  list-style-type: none;
}

.nav-header > ul > li {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-header>ul>li:hover{
    color: var(--gray-secondary);
}

.btn {
  background-color: var(--primary-violet);
  border-radius: 50px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  height: 35px;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.btn:hover{
  background-color: #bb63ff;
  transition: 0.5s;
}

/*   Main Sections   */

.intro-hero {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.container-img {
  margin: 10px;
  padding: 30px;
  width: 50%;
}

.container-text {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 60px;
  text-align: right;
  width: 50%;
}

.container-text > h1 {
  font-size: 50px;
  font-weight: 700;
  justify-content: flex-end;
  margin: 20px;
  margin-right: 0;
}

.container-text > p{
    margin: 15px 0 25px 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.lightblue-bar{
    background-color: var(--primary-violet);
    color: var(--light-gray);
    display: flex;
    padding: 2% 10%;
    justify-content: space-around;
    align-items: center;
}

.lightblue-bar>h2{
    font-size: 2em;
    font-weight: 500;
    width: 30%;
}

.lightblue-bar>p{
  width: 40%;
}

.number-paragraph{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-gray);
  width: 100%;
  height: auto;
}

.main-list{
  width:40%;
  display: flex;
  margin: 10px;
  flex-direction: column;
  color: var(--gray-secondary);
}

.main-list > span {
  font-weight: 500;
  color: var(--gray-blue);
}

.numb{
  background-color: var(--primary-violet);
  width: 60px;
  border-radius: 50px;
  text-align: center;
  color: #FFF;
  padding: 5px;
  height: 30px;
}

/*  Cards testimonios */

.testimony{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}

.testimony>h2{
  font-size: 2em;
  font-weight: 700;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
  width: 20%;
}

.btn-2{
    background-color: #FFF;
    border-radius: 50px;
    border: none;
    color: var(--primary-violet);
    cursor: pointer;
    font-size: 12px;
    height: 35px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.btn-2:hover{
  background-color: #bb63ff;
  color: #FFF;
  transition: 0.5s;
}


/*  Footer  */

footer{
  background-color: var(--gray-blue);
  color: #FFF;
  display: flex;
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-footer{
  flex-direction: column;
  align-items: center;
}