@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root {
    --primary-violet: #8B48BF;
    --primary-lightblue: #3CDDF3;
    --gray-blue: #1E1E26;
    --dark-blue: #232851;
    --light-gray: rgb (249, 249, 249);
}

* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html{
    width: 100%;
    height: auto;
}

/*   Header   */

.nav-header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    align-items: center;
    margin: 20px;
    margin-bottom: 50px;
}

.burger{
    display: none;
}

.ul-header{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 14px;
}

.nav-header>ul>li{
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.contact{
    background-color: var(--primary-violet);
    width: 100px;
    height: 35px;
    border-radius: 50px;
    color: #FFF;
    font-size: 12px;
    border: none;
}

/*   Main Sections   */

.intro-hero{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 50px;
}

.container-img{
    width: 50%;
    margin: 10px;
    padding: 30px;
}

.container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: auto;
    text-align: right;
    padding: 10px;
}

.container-text > h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 20px;
    padding: 10px;
    justify-content: flex-end;
}